.movie-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: self-end;
    gap: 10px;
    justify-content: center;
}

.movie-container > div {
    cursor: pointer;
}

.movie-container div:hover{
    transition: 0.5s;
    transform: translateY(-15px);
}


body{
    transition: background-color 0.5s ease;
}

body.dark{
    background-color: #212324;
    color: #fff;
}