/* No seu arquivo de estilos */
.custom-input-style {
  background-color: #1a202c;
  border-radius: 15px;
  font-family: Inter;
  font-size: 26px;
  font-style: italic;
  font-weight: 500;
  line-height: normal;
  color: rgba(255, 255, 255, 0.5);
  border: none;
  height: 4rem;
  padding-left: 50px !important;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 3.2rem;
  margin: 2.2rem;
}

.image-item {
  border-radius: 12px;
  margin-bottom: 2rem;
}

.image-item > img {
  border-radius: 15px;
  width: 235px;
  height: 350px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #b8b7b7;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: #1a202c;
}

::-webkit-scrollbar-vertical {
  width: 10px;
}
